/* CSS reset/normalization as described by https://mattbrictson.com/blog/css-normalize-and-reset */
@import 'node_modules/modern-normalize/modern-normalize.css';

/* Import norse font */
@font-face {
    font-family: norse;
    src: url(assets/Norse-Bold.otf);
}

:root {
    line-height: 1.5;
}
  
h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}
  
ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}
  
img {
    display: block;
    max-inline-size: 100%;
}

/* Custom styling */

body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar, .content {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.sidebar {
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    align-items: center;
    min-width: 40vw;
    justify-content: space-between;
    padding: 144px 0 12px;
    color: white;
}

.content {
    justify-content: center;
    background-color: rgb(238, 238, 238);
}

.sidebar a {
    color: white;
}

.odin {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    font-family: "norse";
}

.odin img {
    object-fit: contain;
    max-height: inherit;
    height: inherit;
}

.odin p {
    margin-top: 12px; /* The font seems weird as it is not aligned by default (others are) - margin-top is a quick fix  */
    font-size: 96px;
}

.content > div {
    padding: 2.5% 10% 2.5% 5%;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
}

.form-div {
    background-color: white;
}

.submit-btn {
    color: white;
    background-color: #596D48;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 12px 36px;
    cursor: pointer;
    margin: 16px 0;
}

.bottom-text a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}